#container {
  display: flex;
  align-items: center;
  width: 55%;
  flex-direction: column;
  margin: 0 auto;
}
/*---------- header -----------*/

.input-zone {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  column-gap: 2%;
  padding: 3% 0%;
  margin-bottom: 4%;
  input {
    padding-left: 2%;
    width: 60%;
    height: 8vh;
    margin-left: 4%;
  }
}

.buttons {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: space-around;
  button {
    width: 40%;
    height: 10vh;
    padding-bottom: 2%;
  }
}

svg {
  width: 100%;
  height: auto;
}
/*---------- body -----------*/
.middle {
  width: 100%;
  height: auto;
  padding-bottom: 5%;
}

.task {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  padding-bottom: 2%;
  margin-bottom: 2%;
}

.radio {
  visibility: hidden;
}

label {
  width: 70%;
  height: 100%;
  grid-column: 1;
  align-content: center;
  padding-left: 2%;
  overflow: auto;
}
.btn-task {
  width: 30%;
  margin-top: 1%;
  align-items: center;
}

/*---------- footer -----------*/
#events {
  width: 25%;
}
#footer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  column-gap: 5%;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 2%;
}

#events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
}

#remaining {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  span {
    margin-right: 5%;
  }
}

/*---------- credits -----------*/
.credits {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#credit-list {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 55%;
}
